[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-openscad"]
	path = bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "pack/Cafe"]
	path = pack/Cafe
	url = https://github.com/ScottDWebster/Cafe.git
[submodule "pack/Serpentes"]
	path = pack/Serpentes
	url = https://github.com/ScottDWebster/Serpentes.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "bundle/FastFold"]
	path = bundle/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
