[submodule "bundle/mimicpak"]
	path = bundle/mimicpak
	url = https://github.com/vim-scripts/mimicpak.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-openscad"]
	path = bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
